.b-header-menu-wrapper {
  @include grid-breakpoint-up(lg) {
    background: $color-nav-bg;
    position: relative;
    z-index: $z-index-3;
  }
}

.b-header-menu-inner {
  height: 100%;
  overflow-y: auto;

  @include grid-breakpoint-up(lg) {
    height: auto;
    overflow-y: initial;
  }

  .list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: rem-calc(75px);

    @include grid-breakpoint-up(lg) {
      display: block;
      min-height: auto;
    }

    & + .list-item {
      border-top: 1px solid rgba($color-nav-item-border, 0.3);

      @include grid-breakpoint-up(lg) {
        border: 0;
      }
    }
  }

  .link {
    align-items: center;
    color: $color-nav-dropdown-link;
    display: flex;
    flex: 1;
    font-size: rem-calc($global-font-size-18);
    justify-content: space-between;
    padding: rem-calc(0 20px);
    width: 100%;
  }

  .second-level-list,
  .third-level-list {
    background: $color-nav-item;
    bottom: 0;
    height: 100%;
    left: -100%;
    padding: rem-calc(55px 0 0);
    position: absolute;
    top: 0;
    transition: $smoothly;
    width: 100%;

    @include grid-breakpoint-up(lg) {
      padding: rem-calc(55px);
    }
  }

  .list-item-marketing {
    @include grid-breakpoint-up(lg) {
      max-width: rem-calc(320px);
      padding-top: rem-calc(15px);
    }

    &.first {
      border-right: 1px solid rgba($color-nav-item-border, 0.2);
      padding-right: rem-calc(20px);
    }

    &.last {
      border-left: 1px solid rgba($color-nav-item-border, 0.2);
      padding-left: rem-calc(20px);
    }
  }

  .first-level-list {
    z-index: $z-index-1;

    @include grid-breakpoint-up(lg) {
      background: none;
      height: auto;
      padding: 0;
      position: static;
    }
  }

  .first-level-list-inner {
    @include grid-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }
  }

  .second-level-list-inner {
    @include grid-breakpoint-up(lg) {
      align-content: flex-start;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: rem-calc(15px 0 0);
    }
  }

  .first-level-list-item {
    @include grid-breakpoint-up(lg) {
      &.is-show {
        .first-level-list-link {
          background: $color-nav-item-hover;
        }

        .second-level-list {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @include grid-breakpoint-up(xl) {
      .first-level-list-link {
        font-size: rem-calc($global-font-size-15);
        font-weight: $global-font-bold;
        padding: rem-calc(15px 20px);
      }
    }
  }

  .second-level-list {
    z-index: $z-index-2;

    @include grid-breakpoint-up(lg) {
      background-color: $color-nav-dropdown-bg;
      bottom: auto;
      display: flex;
      height: auto;
      left: 0;
      margin: 0;
      max-height: rem-calc($menuOverlayHeight);
      opacity: 0;
      overflow: hidden;
      right: 0;
      top: 100%;
      visibility: hidden;
      width: 100%;

      .second-level-list-link {
        color: $color-nav-dropdown-heading-link;
        font-weight: $global-font-bold;
        margin: rem-calc(0 0 5px);
      }
    }

    @include grid-breakpoint-up(xl) {
      left: 50%;
      max-width: $gridContainerMaxWidths;
      transform: translate(-50%, 0);
    }
  }

  .second-level-list-item {
    @include grid-breakpoint-up(lg) {
      flex-basis: 33.333%;
      margin-bottom: rem-calc(15px);
      padding: rem-calc(0 25px);
    }
  }

  .third-level-list {
    z-index: $z-index-3;

    @include grid-breakpoint-up(lg) {
      background: none;
      height: auto;
      padding: 0;
      position: static;
      width: auto;

      .third-level-list-item {
        line-height: rem-calc($global-line-height-32);
      }

      .third-level-list-link {
        font-size: rem-calc($global-font-size);
      }
    }
  }
}
