.b-header-menu-wrapper {
  background-color: $color-nav-bg;
  position: relative;
}

.b-menu-show-button {
  background: $color-nav-show-button-bg;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.b-header-menu-close {
  position: absolute;
  right: rem-calc(20px);
  top: rem-calc(15px);
  z-index: $z-index-4;
}

.b-header-menu-container {
  @include when-inside('.h-show-menu') {
    left: 0;
  }

  background: $color-nav-bg;
  height: 100%;
  left: -100%;
  padding: rem-calc($mobileMenuHeaderHeight 0 0);
  position: fixed;
  top: 0;
  transition: $smoothly;
  width: 100%;
  z-index: $z-index-3;

  @include grid-breakpoint-up(lg) {
    background: none;
    height: auto;
    padding: 0;
    position: static;
  }

  @include grid-breakpoint-up(xl) {
    width: auto;
  }
}

.b-header-menu-bottom-wrapper {
  border-top: 1px solid $color-nav-menu-bottom-wrapper;
  margin-top: auto;
}

.b-header-menu-bottom {
  background-color: $color-nav-bottom-mobile-menu;
  margin: 0;
  padding: rem-calc(15px 0 20px);

  .b-header-menu-item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    min-height: rem-calc($mobileMenuHeaderHeight);
    padding: rem-calc(0 20px);

    @include grid-breakpoint-up(lg) {
      min-height: auto;
      padding: 0;
    }
  }

  .b-header-menu-link {
    align-items: center;
    color: $color-nav-bottom-mobile-menu-link;
    display: flex;
    flex-grow: 1;
    font-size: rem-calc($global-font-size-20);
    justify-content: space-between;
  }
}

.b-menu-back-wrap {
  align-items: center;
  background: $color-mobile-nav-header-bg-color;
  color: $color-mobile-nav-header-text-color;
  display: flex;
  height: rem-calc($mobileMenuHeaderHeight);
  left: 0;
  margin: 0;
  padding: rem-calc(0 20px);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;

  .b-menu-back {
    align-items: center;
    display: flex;
    font-size: rem-calc($global-font-size-20);

    .icon {
      margin-right: rem-calc(10px);
    }
  }
}

.b-header-menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
