.b-selected-categories {
  .b-selected-categories-callout {
    font-weight: $global-font-bold;
    color: $color-selected-categories-link;
    font-size: rem-calc($global-font-size-18);
    margin: rem-calc(0 0 5px);
  }

  .b-selected-categories-item-link {
    line-height: rem-calc($global-line-height-32);
    font-size: rem-calc($global-font-size);
  }
}
