// Breakpoint viewport sizes and media queries.
// Breakpoints are defined as a map of (name: minimum width), order from small to large:
// The map defined in the `$grid-breakpoints` global variable is used as the `$breakpoints` argument by default.

// Name of the next breakpoint, or null for the last breakpoint.
//    >> breakpoint-next(md)
//    lg
//    >> breakpoint-next(md, (sm: 0, md: 768px, lg: 1024px, xl: 1440px))
//    lg
//    >> breakpoint-next(md, $breakpoint-names: (sm md lg xl))
//    lg
@function grid-breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n != null and $n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//    >> breakpoint-min(md, (sm: 0, md: 768px, lg: 1024px, xl: 1440px))
//    768px
@function grid-breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.02px
// to work around the limitations of `min-` and `max-` prefixes and viewports with fractional widths.
// See https://www.w3.org/TR/mediaqueries-4/#mq-min-max
// Uses 0.02px rather than 0.01px to work around a current rounding bug in Safari.
// See https://bugs.webkit.org/show_bug.cgi?id=178261
//    >> breakpoint-max(md, (sm: 0, md: 768px, lg: 1024px, xl: 1440px))
//    1024.98px
@function grid-breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: grid-breakpoint-next($name, $breakpoints);
  @return if($next, grid-breakpoint-min($next, $breakpoints) - 0.02, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash infront.
// Useful for making responsive utilities.
//    >> breakpoint-suffix(sm, (sm: 0, md: 768px, lg: 1024px, xl: 1440px))
//    ""  (Returns a blank string)
//    >> breakpoint-suffix(md, (sm: 0, md: 768px, lg: 1024px, xl: 1440px))
//    "-md"
@function grid-breakpoint-suffix($name, $breakpoints: $grid-breakpoints) {
  @return if(grid-breakpoint-min($name, $breakpoints) == null, '', '-#{$name}');
}


// Removes the unit (e.g. px, em, rem) from a value, returning the number only.
// @param {Number} $num - Number to strip unit from.
// @returns {Number} The same number, sans unit.
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts a pixel value to matching rem value. *Any* value passed, regardless of unit, is assumed to be a pixel value.
// By default, the base pixel value used to calculate the rem value is taken from the `$global-font-size` variable.
// @access private
// @param {Number} $value - Pixel value to convert.
// @param {Number} $base [null] - Base for pixel conversion.
// @returns {Number} A number in rems, calculated based on the given value and the base pixel value.
// rem values are passed through as is.
@function value-to-rem($value, $base: null) {
  // Check if the value is a number
  @if type-of($value) != 'number' {
    @error inspect($value) + ' was passed to rem-calc(), which is not a number.';
    @return $value;
  }

  // Transform em into rem if someone hands over 'em's
  @if unit($value) == 'em' {
    $value: strip-unit($value) * 1rem;
  }

  // Calculate rem if units for $value is not rem or em
  @if unit($value) != 'rem' {
    $value: strip-unit($value) / strip-unit($base) * 1rem;
  }

  // Turn 0rem into 0
  @if $value == 0rem {
    $value: 0;
  }

  @return $value;
}

// Converts one or more pixel values into matching rem values.
// @param {Number|List} $values - One or more values to convert. Be sure to separate them with spaces and not commas.
// If you need to convert a comma-separated list, wrap the list in parentheses.
// @param {Number} $base [null] - The base value to use when calculating the `rem`.
// If this parameter is `null`, the function will reference the `$global-font-size` variable as the base.
// @returns {List} A list of converted values.
@function rem-calc($values, $base: null) {
  $rem-values: ();
  $count: length($values);

  // If no base is defined, defer to the global font size
  @if $base == null {
    $base: $global-font-size;
  }

  // If the base font size is a %, then multiply it by 16px
  // This is because 100% font size = 16px in most all browsers
  @if unit($base) == '%' {
    $base: ($base / 100%) * 16px;
  }

  // Using rem as base allows correct scaling
  @if unit($base) == 'rem' {
    $base: strip-unit($base) * 16px;
  }

  @if $count == 1 {
    @return value-to-rem($values, $base);
  }

  @for $i from 1 through $count {
    $rem-values: append($rem-values, value-to-rem(nth($values, $i), $base));
  }

  @return $rem-values;
}
