@each $breakpoint in map-keys($grid-breakpoints) {
  @include grid-breakpoint-only($breakpoint, $grid-breakpoints) {
    .h-hide-#{$breakpoint} {
      display: none !important;
    }

    .h-show-#{$breakpoint} {
      display: block !important;
    }

    .h-flex-#{$breakpoint} {
      display: flex !important;
    }
  }
}

.h-disable-scroll {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  @include grid-breakpoint-down(md) {
    height: auto;
  }
}

.h-scroll {
  height: 100%;
  overflow: auto;

  @include grid-breakpoint-up(lg) {
    height: auto;
    overflow: initial;
  }
}
