// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin grid-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: grid-breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin grid-breakpoint-down($name, $isLandscape: false, $breakpoints: $grid-breakpoints) {
  $max: grid-breakpoint-max($name, $breakpoints);

  @if $max {
    @if $isLandscape {
      @media (max-width: $max) and (orientation: landscape) {
        @content;
      }
    } @else {
      @media (max-width: $max) {
        @content;
      }
    }
  }
}

// Media that spans multiple breakpoint widths.
// Makes the @content apply between the min and max breakpoints
@mixin grid-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  $min: grid-breakpoint-min($lower, $breakpoints);
  $max: grid-breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include grid-breakpoint-up($lower, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include grid-breakpoint-down($upper, false, $breakpoints) {
      @content;
    }
  }
}

// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
@mixin grid-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min: grid-breakpoint-min($name, $breakpoints);
  $max: grid-breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include grid-breakpoint-up($name, $breakpoints) {
      @content;
    }
  } @else if $min == null {
    @include grid-breakpoint-down($name, false, $breakpoints) {
      @content;
    }
  }
}

// Make a context based selector a little more friendly
// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

// Event wrapper
// @param {Bool} $self [false] - Whether or not to include current selector
@mixin on-event() {
  &:hover {
    @content;
  }

  &:active {
    @content;
  }
}
