$grid-breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1024px,
  xl: 1440px
) !default;

$smoothly: 0.3s all ease;
$menuOverlayHeight: 765px;
$gridContainerMaxWidths: 1620px;
$mobileMenuHeaderHeight: 56px;

// Global fonts variables
$global-font-size-12: 12px !default;
$global-font-size-15: 15px !default;
$global-font-size: 16px !default;
$global-font-size-18: 18px !default;
$global-font-size-20: 20px !default;
$global-font-size-22: 22px !default;
$global-font-size-32: 32px !default;
$global-font-size-48: 48px !default;

$global-line-height-18: 18px !default;
$global-line-height-32: 32px !default;
$global-line-height-34: 34px !default;
$global-line-height-38: 38px !default;
$global-line-height-48: 40px !default;
$global-line-height-50: 50px !default;

$global-font-light: 300 !default;
$global-font-regular: 400 !default;
$global-font-bold: 700 !default;
$global-font-black: 900 !default;

// Global z-index variables
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;

// Global colors variables
$white: #fff;
$gray: #444;
$light-gray: #eee;
$ocean-blue: #09d;
$transparent: transparent;

$color-nav-show-button-bg: $transparent;
$color-nav-bg: $white;
$color-nav-item: $white;
$color-nav-item-hover: $light-gray;
$color-nav-item-border: $gray;
$color-nav-menu-bottom-wrapper: $light-gray;
$color-nav-item-text: $gray;
$color-nav-dropdown-bg: $light-gray;
$color-nav-dropdown-heading-link: $ocean-blue;
$color-nav-dropdown-link: $gray;
$color-nav-bottom-mobile-menu: $ocean-blue;
$color-nav-bottom-mobile-menu-link: $white;

$color-selected-categories-link: $ocean-blue;;

$color-mobile-nav-header-bg-color: $light-gray;
$color-mobile-nav-header-text-color: $ocean-blue;

