@media (max-width: 767.98px) {
  .h-hide-sm {
    display: none !important; }
  .h-show-sm {
    display: block !important; }
  .h-flex-sm {
    display: -ms-flexbox !important;
    display: flex !important; } }

@media (min-width: 768px) and (max-width: 1023.98px) {
  .h-hide-md {
    display: none !important; }
  .h-show-md {
    display: block !important; }
  .h-flex-md {
    display: -ms-flexbox !important;
    display: flex !important; } }

@media (min-width: 1024px) and (max-width: 1439.98px) {
  .h-hide-lg {
    display: none !important; }
  .h-show-lg {
    display: block !important; }
  .h-flex-lg {
    display: -ms-flexbox !important;
    display: flex !important; } }

@media (min-width: 1440px) {
  .h-hide-xl {
    display: none !important; }
  .h-show-xl {
    display: block !important; }
  .h-flex-xl {
    display: -ms-flexbox !important;
    display: flex !important; } }

.h-disable-scroll {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%; }
  @media (max-width: 1023.98px) {
    .h-disable-scroll {
      height: auto; } }

.h-scroll {
  height: 100%;
  overflow: auto; }
  @media (min-width: 1024px) {
    .h-scroll {
      height: auto;
      overflow: initial; } }

:root {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *::before, *::after {
    box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle; }

picture {
  width: 100%; }

b,
strong {
  font-weight: 700; }

i,
em {
  font-style: italic; }

/*
  Seriously, i`m not a font awesome fun,
  but SFRA need it for normal work, and i dont have time
  for removing it:)
*/
.b-header-menu-wrapper {
  background-color: #fff;
  position: relative; }

.b-menu-show-button {
  background: transparent;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%); }

.b-header-menu-close {
  position: absolute;
  right: 1.25rem;
  top: 0.9375rem;
  z-index: 4; }

.b-header-menu-container {
  background: #fff;
  height: 100%;
  left: -100%;
  padding: 3.5rem 0 0;
  position: fixed;
  top: 0;
  transition: 0.3s all ease;
  width: 100%;
  z-index: 3; }
  .h-show-menu .b-header-menu-container {
    left: 0; }
  @media (min-width: 1024px) {
    .b-header-menu-container {
      background: none;
      height: auto;
      padding: 0;
      position: static; } }
  @media (min-width: 1440px) {
    .b-header-menu-container {
      width: auto; } }

.b-header-menu-bottom-wrapper {
  border-top: 1px solid #eee;
  margin-top: auto; }

.b-header-menu-bottom {
  background-color: #09d;
  margin: 0;
  padding: 0.9375rem 0 1.25rem; }
  .b-header-menu-bottom .b-header-menu-item {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 3.5rem;
    padding: 0 1.25rem; }
    @media (min-width: 1024px) {
      .b-header-menu-bottom .b-header-menu-item {
        min-height: auto;
        padding: 0; } }
  .b-header-menu-bottom .b-header-menu-link {
    -ms-flex-align: center;
        align-items: center;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    font-size: 1.25rem;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.b-menu-back-wrap {
  -ms-flex-align: center;
      align-items: center;
  background: #eee;
  color: #09d;
  display: -ms-flexbox;
  display: flex;
  height: 3.5rem;
  left: 0;
  margin: 0;
  padding: 0 1.25rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }
  .b-menu-back-wrap .b-menu-back {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem; }
    .b-menu-back-wrap .b-menu-back .icon {
      margin-right: 0.625rem; }

.b-header-menu-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%; }

@media (min-width: 1024px) {
  .b-header-menu-wrapper {
    background: #fff;
    position: relative;
    z-index: 3; } }

.b-header-menu-inner {
  height: 100%;
  overflow-y: auto; }
  @media (min-width: 1024px) {
    .b-header-menu-inner {
      height: auto;
      overflow-y: initial; } }
  .b-header-menu-inner .list-item {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    min-height: 4.6875rem; }
    @media (min-width: 1024px) {
      .b-header-menu-inner .list-item {
        display: block;
        min-height: auto; } }
    .b-header-menu-inner .list-item + .list-item {
      border-top: 1px solid rgba(68, 68, 68, 0.3); }
      @media (min-width: 1024px) {
        .b-header-menu-inner .list-item + .list-item {
          border: 0; } }
  .b-header-menu-inner .link {
    -ms-flex-align: center;
        align-items: center;
    color: #444;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
        flex: 1;
    font-size: 1.125rem;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 0 1.25rem;
    width: 100%; }
  .b-header-menu-inner .second-level-list,
  .b-header-menu-inner .third-level-list {
    background: #fff;
    bottom: 0;
    height: 100%;
    left: -100%;
    padding: 3.4375rem 0 0;
    position: absolute;
    top: 0;
    transition: 0.3s all ease;
    width: 100%; }
    @media (min-width: 1024px) {
      .b-header-menu-inner .second-level-list,
      .b-header-menu-inner .third-level-list {
        padding: 3.4375rem; } }
  @media (min-width: 1024px) {
    .b-header-menu-inner .list-item-marketing {
      max-width: 20rem;
      padding-top: 0.9375rem; } }
  .b-header-menu-inner .list-item-marketing.first {
    border-right: 1px solid rgba(68, 68, 68, 0.2);
    padding-right: 1.25rem; }
  .b-header-menu-inner .list-item-marketing.last {
    border-left: 1px solid rgba(68, 68, 68, 0.2);
    padding-left: 1.25rem; }
  .b-header-menu-inner .first-level-list {
    z-index: 1; }
    @media (min-width: 1024px) {
      .b-header-menu-inner .first-level-list {
        background: none;
        height: auto;
        padding: 0;
        position: static; } }
  @media (min-width: 1024px) {
    .b-header-menu-inner .first-level-list-inner {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
          justify-content: space-between; } }
  @media (min-width: 1024px) {
    .b-header-menu-inner .second-level-list-inner {
      -ms-flex-line-pack: start;
          align-content: flex-start;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-positive: 1;
          flex-grow: 1;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: start;
          justify-content: flex-start;
      padding: 0.9375rem 0 0; } }
  @media (min-width: 1024px) {
    .b-header-menu-inner .first-level-list-item.is-show .first-level-list-link {
      background: #eee; }
    .b-header-menu-inner .first-level-list-item.is-show .second-level-list {
      opacity: 1;
      visibility: visible; } }
  @media (min-width: 1440px) {
    .b-header-menu-inner .first-level-list-item .first-level-list-link {
      font-size: 0.9375rem;
      font-weight: 700;
      padding: 0.9375rem 1.25rem; } }
  .b-header-menu-inner .second-level-list {
    z-index: 2; }
    @media (min-width: 1024px) {
      .b-header-menu-inner .second-level-list {
        background-color: #eee;
        bottom: auto;
        display: -ms-flexbox;
        display: flex;
        height: auto;
        left: 0;
        margin: 0;
        max-height: 47.8125rem;
        opacity: 0;
        overflow: hidden;
        right: 0;
        top: 100%;
        visibility: hidden;
        width: 100%; }
        .b-header-menu-inner .second-level-list .second-level-list-link {
          color: #09d;
          font-weight: 700;
          margin: 0 0 0.3125rem; } }
    @media (min-width: 1440px) {
      .b-header-menu-inner .second-level-list {
        left: 50%;
        max-width: 1620px;
        transform: translate(-50%, 0); } }
  @media (min-width: 1024px) {
    .b-header-menu-inner .second-level-list-item {
      -ms-flex-preferred-size: 33.333%;
          flex-basis: 33.333%;
      margin-bottom: 0.9375rem;
      padding: 0 1.5625rem; } }
  .b-header-menu-inner .third-level-list {
    z-index: 3; }
    @media (min-width: 1024px) {
      .b-header-menu-inner .third-level-list {
        background: none;
        height: auto;
        padding: 0;
        position: static;
        width: auto; }
        .b-header-menu-inner .third-level-list .third-level-list-item {
          line-height: 2rem; }
        .b-header-menu-inner .third-level-list .third-level-list-link {
          font-size: 1rem; } }

.b-menu-category-banner {
  text-align: center; }
  .b-menu-category-banner .b-menu-category-banner-image {
    margin-bottom: 0.625rem; }

.b-selected-categories .b-selected-categories-callout {
  font-weight: 700;
  color: #09d;
  font-size: 1.125rem;
  margin: 0 0 0.3125rem; }

.b-selected-categories .b-selected-categories-item-link {
  line-height: 2rem;
  font-size: 1rem; }
